<h1 class="h2 modal-title">Effectuez votre acompte de réservation</h1>
<div class="process-step modal-content-container">
    <p>Merci d'effectuer votre virement sur le compte suivant :</p>
    <p class="bold upper">
        Rib société générale
    </p>
    <p class="upper">
        <span class="bold">Code banque </span>30003
    </p>
    <p class="upper">
        <span class="bold">code guichet</span> 03541
    </p>
    <p class="upper">
        <span class="bold">numéro de compte</span> 00020206771
    </p>
    <p class="upper">
        <span class="bold">clé rib</span> 21
    </p>
    <p class="upper">
        <span class="bold">iban</span> fr76 3000 3035 4100 0202 0677 121
    </p>
    <p class="upper">
        <span class="bold">adresse swift (bic)</span> sogefrpp
    </p>
    <p>Si vous optez pour le règlement par virement bancaire, votre réservation sera conservée jusqu'à réception d'une preuve de votre versement envoyée par e-mail à paiement@mediaresa.fr. En l'absence de réception de cette preuve sous 30 minutes, l'emplacement sera remis en vente sur notre plateforme.</p>
    <div class="process-step_btn-group">
        <button type="button" class="btn btn-secondary btn-previous" ng-click="$lastVisitedStep()">
            Précédent <i class="icon-button icon-simply-left"></i></button>
        <button class="btn btn-primary btn-next" class="btn btn-primary modal-button" promise-btn ng-click="buy()">Valider
            <i class="icon-button icon-simply-right"></i></button>
    </div>
</div>
