.current-step-2 .fa-cog,
.current-step-3 .fa-cog,
.current-step-4 .fa-cog{
	color: red
}

.current-step-3 .fa-check,
.current-step-4 .fa-check{
	color: red
}

.current-step-4 .fa-credit-card{
	color: red
}
