h1,
.h1 {
	font-size: 30px;
	color: $white;
	line-height: 31px;
	text-transform: uppercase;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	text-align: left;
}

h2,
.h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 34px;
	text-align: center;
	text-shadow: none;
	text-transform: none;
	font-family: "Noto Sans";
}

h3,
.h3 {
	font-family: "Noto Sans";
	font-size: 16px;
	color: $duck-blue;
	text-transform: uppercase;
	text-align: left;
}

h4,
.h4 {
	font-family: "Noto Sans";
	font-size: 14px;
	color: $duck-blue;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.3;
}

p {
	font-size: 16px;
	font-family: "Noto Sans";
	line-height: 24px;
}
.bold {
	font-weight: 600;
}
.upper {
	text-transform: uppercase;
}

.big-numbers {
	font-size: 16px;
	font-family: "Noto Sans";
	color: $brand-primary;
	font-weight: 600;
}
.blue-numbers {
	font-size: 14px;
	font-family: "Noto Sans";
	color: $duck-blue;
	font-weight: 600;
}

.lead {
	font-size: 16px;
	line-height: 20px;
	color: $white;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.subtitle {
	color: $ash-gray;
	font-size: 12px;
	font-style: italic;
	text-transform: none;
}

a {
	font-size: 12px;
	font-family: "Noto Sans";
	color: $duck-blue;
	font-weight: 600;
	&:hover,
	&:focus {
		color: lighten($duck-blue, 10%);
	}
}
