{% extends 'main.layout.layout-account' %}
{% set accountContext = 'ad_placements_selection' %}

{% import "main.partials.ad_placement_widget" as widget %}

{% block accountContent %}
	<h3>Ma sélection</h3>
    {% for ad_placement in paginator %}
        {{ widget.widget_mini(ad_placement, true) }}
    {% else %}
		Vous n'avez pas encore d'emplacements dans votre sélection : consultez les emplacements disponibles. <br>
		<a href="{{ route('main.ad_placement.index') }}" class="btn btn-primary account-bottom-button">Rechercher <i class="icon-button icon-simply-right"></i></a>
    {% endfor %}

    {{ paginator.render() | raw }}
{% endblock %}
