{% extends "admin.layout" %}

{% set title = "Liste des supports techniques" %}
{% set context = 'technical_support' %}

{% block content %}
    <div class="row" data-ng-controller="TechnicalSupportCtrl">
        <div class="col-md-12">
            <h1>Liste des supports
                techniques {#<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#CreateTechnicalSupportModal"><i class="fa fa-plus"></i></button>#}</h1>

            <table class="table table-hover" data-st-table="TechnicalSupportList" st-pipe="refresh"
                   id="TechnicalSupportList">
                <thead>
                <tr>
                    <th data-st-sort="technical_support.name">Nom</th>
                    <th data-st-sort="technical_support.description">Description</th>
                    <th data-st-sort="technical_support.price">Prix</th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="technical_support__name" class="form-control" placeholder="Recherche..."
                               type="text"/>
                    </th>
                    <th>
                        <input st-search="technical_support__description" class="form-control"
                               placeholder="Recherche..." type="text"/>
                    </th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-show="list.length" data-ng-repeat="technical_support in list">

                    <td>[[ technical_support.name ]]</td>
                    <td>[[ technical_support.description ]]</td>
                    <td>[[ technical_support.price ]]</td>
                    <td>
                        <button class="btn btn-primary"
                                data-ng-click="openModal('#UpdateTechnicalSupportModal', technical_support)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        {#<button class="btn btn-danger"
                                data-ng-click="openModal('#DeleteTechnicalSupportModal', technical_support)">
                            <i class="fa fa-trash-o"></i>
                        </button>#}
                    </td>
                </tr>
                <tr data-ng-hide="list.length || loading == true">
                    <td colspan="4" class="text-center">Aucun élément</td>
                </tr>
                <tr data-ng-show="loading == true">
                    <td colspan="4" class="text-center"><i class="fa fa-spin fa-spinner"></i></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="20"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        {#<div class="modal fade" id="CreateTechnicalSupportModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Ajouter un support technique</h4>
                    </div>
                    <form action="{{ route('admin.technical-support.store') }}" class="ajax" data-referent-table="TechnicalSupportList">
                        <div class="alert alert-danger hidden"></div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="CreateTechnicalSupportName">Nom</label>
                                <input type="text" name="name" id="CreateTechnicalSupportName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="CreateTechnicalSupportDescription">Description</label>
                                <textarea name="description" id="CreateTechnicalSupportDescription" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="CreateTechnicalSupportPrice">Prix</label>
                                <input type="text" name="price" id="CreateTechnicalSupportPrice" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Enregistré !">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>#}

        <div class="modal fade" id="UpdateTechnicalSupportModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Mettre à jour un support technique</h4>
                    </div>
                    <form action="{{ route('admin.technical-support.update', ['{id}']) }}" class="ajax"
                          data-referent-table="TechnicalSupportList">
                        <div class="modal-body">
                            <div class="alert alert-danger hidden"></div>
                            <div class="form-group">
                                <label for="UpdateTechnicalSupportName">Nom</label>
                                <input type="text" name="name" id="UpdateTechnicalSupportName" class="form-control"
                                       ng-value="current.name">
                            </div>
                            <div class="form-group">
                                <label for="UpdateTechnicalSupportDescription">Description</label>
                                <textarea name="description" id="UpdateTechnicalSupportDescription"
                                          class="form-control">[[ current.description ]]</textarea>
                            </div>
                            <div class="form-group">
                                <label for="UpdateTechnicalSupportPrice">Prix</label>
                                <input type="number" name="price" id="UpdateTechnicalSupportPrice" class="form-control"
                                       ng-value="current.price">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_method" value="put">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary"
                                    data-loading-text="<i class='fa fa-spin fa-spinner'></i>"
                                    data-done-text="Enregistré !" formnovalidate>Enregistrer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#<div class="modal fade" id="DeleteTechnicalSupportModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Supprimer un support technique</h4>
                    </div>
                    <div class="modal-body">
                        <p>Voulez vous vraiment supprimer ce support technique?</p>
                    </div>
                    <form action="{{ route('admin.technical-support.destroy', ['{id}']) }}" class="ajax" data-referent-table="TechnicalSupportList">
                        <input type="hidden" name="_method" value="delete">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-danger" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Supprimé !">Supprimer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>#}
    </div>
{% endblock %}
