{% extends "ad_network.layout" %}
{% set title = "Connexion" %}

{% block content %}
<div class="login">
	<div class="panel-heading">Bienvenue sur votre espace régie!</div>
	<div class="panel-body">
		<form action="{{route('ad-network.auth.login.post')}}" method="POST" class="ajax">
			<div class="modal-body">
				<div class="alert alert-danger hidden"></div>

				<p>Pour poursuivre, merci de vous connecter à votre compte :</p>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" name="email" class="form-control" placeholder="Votre adresse email">
				</div>

				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" class="form-control" placeholder="Votre mot de passe">
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" data-done-text="Connecté !" data-loading-text="Veuillez patienter..." class="btn btn-primary">Connexion</button>
				<br>
				<br>
				<p class="text-center">
					Mot de passe perdu? <a href="#ResetPasswordModal" data-toggle="modal">Réinitialisez-le</a>
				</p>
			</div>
		</form>
	</div>
</div>
{% endblock %}
