<div class="modal fade" id="NewAcquisitionInfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Mise à jour d'un emplacement</h4>
            </div>
            <div class="modal-body">
                <p>
                    Vous venez de réaliser la mise à jour d'un emplacement. Une offre à prix fixe ou une enchère a été réalisée entre temps.
                </p>
                <p>
                    Pour cette raison, et afin de ne pas impacter les actions des utilisateurs, ces informations n'ont pas été mises à jour :
                    <ul>
                        <li>Mode de vente</li>
                        <li>Prix</li>
                        <li>Prix minimum</li>
                    </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
