<div class="modal fade" id="signup_confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation d'inscription</h4>
            </div>
            <div class="modal-body">
                <p>
                    Votre compte doit désormais être validé par notre équipe : vous recevrez un e-mail sous peu, validant définitivement votre inscription.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
