{% extends 'emails.layout' %}

{% block content %}
    <tr>
        <td class="article-part row">
            <hr>
            <center>
                <div class="article-container">

                    <h2>Confirmation de la réinitialisation de votre mot de passe</h2>
                    <p class="content">
                        Votre mot de passe vient d’être modifié sur notre site.
                    </p>
                    <p class="content">
                        Si vous n’êtes pas à l’origine de ce changement, merci de nous en informer par e-mail à
                        l'adresse suivante : <a
                                href="mailto:{{ public_env('MAIL_PUBLIC') }}">{{ public_env('MAIL_PUBLIC') }}</a> .
                    </p>
                </div>
            </center>
        </td>
    </tr>
{% endblock %}