{% extends 'emails.layout' %}

{% block content %}
    <tr>
        <td class="article-part row">
            <hr>
            <center>
                <div class="article-container">

                    <h2>Mot de passe égaré?</h2>
                    <p class="content">
                        Vous avez indiqué sur notre site que vous avez oublié votre mot de passe. <br/>Pour le
                        réinitialiser, merci de cliquer sur le bouton ci-dessous :
                    </p>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td class="redirection-part row">
            <center>
                <a href="{{ reset_path }}" title="Réinitialiser mon mot de passe" class="btn btn-primary">Réinitialiser
                    mot de passe</a>
            </center>
        </td>
    </tr>
{% endblock %}