{% extends 'emails.layout' %}

{% block content %}
    <tr>
        <td class="center title-part row" align="center" valign="top">
            <center>
                <div class="title-container">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro numquam accusantium minus est,
                        aspernatur asperiores dolore id, beatae dolorum quibusdam.
                    </p>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td class="article-part row">
            <hr>
            <center>
                <div class="article-container">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est sed, dolor dolores, possimus
                        dignissimos officia esse odio corporis blanditiis necessitatibus! Harum nam pariatur beatae
                        dolorem ipsam dicta reprehenderit enim. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Repudiandae enim similique repellat iusto facere! Inventore est ratione blanditiis itaque
                        tempora? Animi nostrum itaque consequatur, recusandae alias nisi cumque repudiandae voluptate.
                    </p>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td class="article-part row">
            <hr>
            <center>
                <div class="article-container">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est sed, dolor dolores, possimus
                        dignissimos officia esse odio corporis blanditiis necessitatibus! Harum nam pariatur beatae
                        dolorem ipsam dicta reprehenderit enim. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Repudiandae enim similique repellat iusto facere! Inventore est ratione blanditiis itaque
                        tempora? Animi nostrum itaque consequatur, recusandae alias nisi cumque repudiandae voluptate.
                    </p>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td class="redirection-part row">
            <center>
                <a href="#" title="" class="btn btn-primary">Lorem ipsum</a>
            </center>
        </td>
    </tr>
{% endblock %}