{% extends "admin.layout" %}

{% set title = "Liste des zones de diffusion" %}
{% set context = 'broadcasting_area' %}

{% block content %}
<div class="row" data-ng-controller="BroadcastingAreaCtrl">
	<div class="col-md-12">
		<h1>Liste des zones de diffusion <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#CreateBroadcastingAreaModal"><i class="fa fa-plus"></i></button></h1>

		<table class="table table-hover" data-st-table="BroadcastingAreaList" st-pipe="refresh" id="BroadcastingAreaList">
			<thead>
				<tr>
					<th data-st-sort="broadcasting_area.name">Nom</th>
					<th></th>
				</tr>
				<tr>
					<th>
						<input st-search="broadcasting_area__name" class="form-control" placeholder="Recherche..." type="text"/>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-show="list.length" data-ng-repeat="broadcasting_area in list">

					<td>[[ broadcasting_area.name ]]</td>
					<td>
						<button class="btn btn-primary" data-ng-click="openModal('#UpdateBroadcastingAreaModal', broadcasting_area)">
								<i class="fa fa-pencil"></i>
						</button>
						<button class="btn btn-danger" data-ng-click="openModal('#DeleteBroadcastingAreaModal', broadcasting_area)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
				</tr>
				<tr data-ng-hide="list.length || loading == true">
					<td colspan="2" class="text-center">Aucun élément</td>
				</tr>
				<tr data-ng-show="loading == true">
					<td colspan="2" class="text-center"><i class="fa fa-spin fa-spinner"></i></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" class="text-center">
						<div st-pagination="" st-items-by-page="20"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="modal fade" id="CreateBroadcastingAreaModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Ajouter une zone de diffusion</h4>
				</div>
				<form action="{{ route('admin.broadcasting-area.store') }}" class="ajax" data-referent-table="BroadcastingAreaList">
					<div class="alert alert-danger hidden"></div>
					<div class="modal-body">
						<div class="form-group">
							<label for="CreateBroadcastingAreaName">Nom</label>
							<input type="text" name="name" id="CreateBroadcastingAreaName" class="form-control">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Enregistré !">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="DeleteBroadcastingAreaModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Supprimer une zone de diffusion</h4>
				</div>
				<div class="modal-body">
					<p>Voulez vous vraiment supprimer cette zone de diffusion?</p>
				</div>
				<form action="{{ route('admin.broadcasting-area.destroy', ['{id}']) }}" class="ajax" data-referent-table="BroadcastingAreaList">
					<input type="hidden" name="_method" value="delete">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-danger" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Supprimé !">Supprimer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="UpdateBroadcastingAreaModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Mettre à jour une zone de diffusion</h4>
				</div>
				<form action="{{ route('admin.broadcasting-area.update', ['{id}']) }}" class="ajax" data-referent-table="BroadcastingAreaList">
					<div class="modal-body">
						<div class="alert alert-danger hidden"></div>
						<div class="form-group">
							<label for="UpdateBroadcastingAreaName">Nom</label>
							<input type="text" name="name" id="UpdateBroadcastingAreaName" class="form-control" value="[[ current.name ]]">
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="_method" value="put">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" data-done-text="Enregistré !">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
