{% embed 'main.modals.modal' %}
	{% set modal_id = "new_password" %}
    {% set modal_name = "Saisissez votre nouveau mot de passe" %}
    {% block modal_body %}
    	<div class="modal-container">
			<form action="{{ route('main.password.reset') }}" class="ajax" data-formajax-success="openmodal(#password_reset_success)">
				<div class="alert alert-warning" hidden role="alert"></div>
				<div class="alert alert-success" hidden role="alert"></div>

				<input type="hidden" value="{{csrf_token()}}" name="_token" />
				<input type="hidden" value="{{token}}" name="token" />

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" placeholder="Votre e-mail">
				</div>
				<div class="form-group">
					<label for="password">Nouveau mot de passe</label>
					<input type="password" class="form-control" name="password">
				</div>
				<div class="form-group">
					<label for="password_confirmation">Confirmez votre mot de passe</label>
					<input type="password" class="form-control" name="password_confirmation">
				</div>
				<button type="submit" data-loading-text="Veuillez patienter..." class="btn btn-large btn-primary modal-button">Valider<i class="icon-button icon-simply-right"></i></button>
			</form>
		</div>
    {% endblock %}
{% endembed %}
