{% embed 'main.modals.modal' %}
	{% set modal_id = "password_reset" %}
    {% set modal_name = "Réinitialisez votre mot de passe" %}
    {% block modal_body %}
    	<div class="modal-container">
			<form action="{{ route('main.password.email.reset') }}" class="ajax" data-formajax-success="closemodal">
				<div class="alert alert-warning" hidden role="alert"></div>

				<input type="hidden" value="{{csrf_token()}}" name="_token" />

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" placeholder="Votre e-mail">
				</div>
				<button type="submit" data-loading-text="Veuillez patienter..." class="btn btn-large btn-primary modal-button">Envoyer<i class="icon-button icon-simply-right"></i></button>
			</form>
		</div>
    {% endblock %}
{% endembed %}
