{% embed 'main.modals.modal' %}
	{% set modal_id = "password_reset_success" %}
    {% set modal_name = "Votre mot de passe a été réinitialisé" %}
    {% block modal_body %}
    	<div class="modal-container">
			<div class="alert alert-success" role="alert">
				Votre mot de passe vient d'être réinitialisé, vous allez recevoir un e-mail de confirmation.
			</div>
			<button data-dismiss="modal" class="btn btn-large btn-primary modal-button">Ok <i class="icon-button icon-simply-right"></i></button>
		</div>
    {% endblock %}
{% endembed %}
