{% extends 'main.layout.layout' %}
{% set title = 'CGV' %}
{% set context='cgv' %}
{% block content %}
    <main class="legals-page">
        <h1 class="h2 legals-title">Termes</h1>
        <section class="legals-part">
            <div class="container legals-container">
                <p>Merci d'avoir choisi MEDIA RESA. Vous trouverez ci-dessous beaucoup d’informations sur les conditions d’utilisation de notre site, et comment nous collectons vos informations personnelles lorsque vous utilisez notre site et nos services.</p>
                <p>Le site internet MEDIA RESA (le « Site ») est exploité par la société MEDIA RESA S.A.S., au capital de 15 000,00 euros immatriculée sous le numéro RCS 812 650 39au greffe de Nanterre, dont le siège social est situé au 117 avenue Victor Hugo, 92100 Boulogne-Billancourt, (« MEDIA RESA»). Directeur de la publication et CEO, David Dokhan.  Vous pouvez nous contacter en par courrier électronique à contact@mediaresa.fr Le Site est hébergé par la société Escale Digitale, dont le siège social est sis à l'adresse suivante : Startup Palace - 18 rue Scribe 44000 Nantes.</p>
                <p>En accédant ou en utilisant tout site web ou tout service fournis par MEDIA RESA, vous reconnaissez que vous (i) avez lu et que vous acceptez d'être lié aux termes ci-après applicables au jour de votre dernière connexion ("les Termes") et (ii) que vous acceptez de vous conformer à toutes les lois et réglementations applicables.</p>
                <p>Si vous n'acceptez pas ces Termes, vous êtes libres de cesser d’utiliser notre Site ou de nous addresser un email contact@mediaresa.fr</p>
                <p class="strong">Les Termes recouvrent l’ensemble des dispositions suivantes :</p>
                <ul>
                    <li>Conditions générales d’utilisation des Services</li>
                    <li>Conditions générales de vente</li>
                    <li>La politique de confidentialité et de cookies</li>
                </ul>
                <p>Pour simplifier leur compréhension, vous acceptez les dénominations suivantes :</p>
                <p>
                    <strong>"Site"</strong> signifie tout site web dont l'accès est fourni par MEDIA RESA. <br>
                    <strong>"Services"</strong> signifie le Site, les logiciels et tous les services fournis par MEDIA RESA via le Site et décris ci-dessous inclus.<br>
                    <strong>"MEDIA RESA", "nous", "nos" et "notre"</strong> signifie MEDIA RESA et nos Tiers Prestataires (incluant les dirigeants, les employés et nos Tiers Prestataires).<br>
                    <strong>"Vous", "vos" et "votre"</strong> se réfère à chaque client, visiteur ou utilisateur du Site. Si vous accédez ou utilisez les Services au nom d'une société, organisation ou toute autre entité, alors, (a) "vous", "vos" et "votre" se réfèrent également à cette entité, (b) vous représentez et garantissez que vous êtes un représentant autorisé de l'entité avec l'autorité pour engager cette entité, et (c) vous acceptez les Termes au nom de cette entité.<br>
                    <strong>“Régie”</strong>, vendeurs d’espaces publicitaires, régie publicitaire.<br>
                    <strong>“Annonceur”</strong>, acheteurs d'espace publicitaire, ou agence ou annonceur détenteur d’un compte sur le Site.<br>
                    <strong>"Vos informations Utilisateurs" </strong>signifie vos informations (dont les Informations Personnelles telles que définies dans B. la Politique de confidentialité) ainsi que toutes les informations professionnelles, vos transactions, vos commentaires, vos questions,  et tout type de contenu informatif (incluant des documents, présentations etc.) renseignés sur le Site ou collectés par MEDIA RESA pour ou lors de l’utilisation ou l’exécution des Services.<br>
                    <strong>"Tiers Prestataires"</strong> sont les tiers prestataires de service avec lesquels MEDIA RESA a conclu des partenariats en vue de vous proposer et de vous fournir les Services.<br>
                    <strong>"Droits de Propriété Intellectuelle"</strong> signifie tous les droits sur les brevets, le copyright, sur les marques, le secret commercial et tous les autres droits de propriété intellectuelle existant ou pouvant être connus ultérieurement, et par conséquent toutes les applications et tous les enregistrements, renouvellements et extensions qui en découlent, dans le cadre des lois de tout pays, territoire ou juridiction.<br>
                    <strong>"Vos Documents"</strong> se réfèrent aux documents établis à partir des formulaires complétés par vos soins, et contenant toutes les informations utiles pour l’exécution des Services conformément au Cahier des Charges disponible en ligne lors de la commande.<br>
                    <strong>« Prix »</strong> signifie le prix tel que définit dans les Conditions générales de vente ci-dessous. <br>
                    <strong>« Bouclage »</strong> Dernière étape de commercialisation d’un espace publicitaire avant fabrication.  Une offre d’espace publicitaire est dite « offre de bouclage » (remnant space, distress advertising) lorsque, compte tenu des très courts délais restant avant le lancement de l’impression ou du jour de diffusion.<br>
                    <strong>« Offres »</strong> se réfèrent aux disponibilités d’espace publicitaire proposées par les Vendeurs selon les critères, indicateurs et cibles commerciales du Support tels que déterminés par le Vendeur.<br>
                    <strong>“Supports”</strong> élément ou canal de communication servant de support au message publicitaire.
                </p>
            </div>
        </section>
        <section class="legals-part">
            <div class="container legals-container">
                <h2 class="h3 legals-section-title">Conditions générales d’utilisation des Services</h2>
                <h3>1. Que faisons-nous ?</h3>
                <p>MEDIA RESA est une plateforme permettant de faciliter la mise en relation entre Vendeurs et Acheteurs pour la commande d'espace publicitaire sur tout type de supports. <br>
                MEDIA RESA propose des services d’accompagnement à la réalisation et à la création publicitaire selon les Services souscrits par l’Acheteur.</p>

                <h3>2. Destinataires des Services.</h3>
                <p>MEDIA RESA est destiné aux personnes physiques majeures et capables, et aux personnes morales représentées par un intermédiaire habilité. L’utilisateur, personne physique ou personne morale, reconnaît, du fait de l’utilisation des Services, qu’il agit à des fins qui entrent dans le cadre de son activité commerciale, industrielle, artisanale ou libérale et qu’il n’est donc pas un consommateur au sens du droit de la Consommation. <br>
                Si vous êtes soumis aux autres lois que la loi française, vous reconnaissez que les Services vous sont proposés à vos risques et périls et que vous êtes entièrement responsable de leur conformité avec les lois et les réglementations qui vous sont applicables, dont notamment et sans limitation, les réglementations relatives aux impôts, au travail, aux douanes, immigration, etc.</p>

                <h3>3. Votre compte.</h3>
                <p>Pour utiliser le Site ou les Services en tout ou partie, vous créez un Compte Utilisateur gratuit avec un email et un mot de passe et les informations légales de vos société (« Votre Compte ») permettant votre identification certaine. La création de ce compte emporte votre acceptation sans condition des présents Termes. <br>
                Le Vendeur reste libre de retirer à tout moment son annonce. Les offres média sont toujours émises sous la condition suspensive de confirmation de la disponibilité de l'espace publicitaire. De plus, les offres média sont toujours émises sous la condition suspensive que se réserve MEDIA RESA de vérifier la solvabilité, la crédibilité de l'Acheteur, la cohérence avec la ligne éditoriale du support et le respect des législations en matière de secteurs réservés. La création d'un compte gratuit Acheteur permet de consulter les annonces déposées sur le site par les Vendeurs, sans limitation de nombre ni de durée. La création d’un compte Vendeur ne permet pas de consulter les tarifs proposés par les autres Vendeurs.</p>

                <h3>4. Sécurité de votre Compte.</h3>
                <p>Vous êtes entièrement et exclusivement responsable de l'activité sur Votre Compte. Vous devez assurer la sécurité, la confidentialité et l'intégrité de Votre Compte car il nous permet de vous identifier pour vous fournir nos Services. Ainsi, (i) vous ne pouvez à aucun moment utiliser le compte d’un tiers ou (ii) laisser un tiers utiliser Votre Compte et (iii) vous devez toujours vous déconnecter et fermer votre navigateur lorsque votre session est terminée. A défaut, vous engagez votre responsabilité personnelle envers MEDIA RESA pour tout préjudice subi suite à l'utilisation de Votre Compte par une autre personne que vous-même. MEDIA RESA décline toute responsabilité des éventuels préjudices et conséquences subis par vous-même ou par un tiers en cas de manquement à ces obligations de sécurité.</p>

                <h3>5. Modification/clôture de Votre Compte.</h3>
                <p>MEDIA RESA se réserve le droit de révoquer, modifier ou suspendre Votre Compte, à son entière discrétion, de façon permanente ou temporaire, sans notification préalable, et sans indemnisation. Par exemple, MEDIA RESA se réserve le droit de clôturer ou suspendre définitivement ou temporairement Votre Compte en cas de violation de toute ou partie des Termes. Sous réserve des dispositions légales applicables, dans le cas où MEDIA RESA suspend, modifie ou clôt définitivement Votre Compte, vous disposerez d’un délai raisonnable pour effectuer une copie de Vos Informations Utilisateurs disponibles. Vous acceptez de ne recevoir aucune indemnité ou compensation de toute nature pour le/les préjudice(s) éventuel(s) subi(s) du fait de cette décision.</p>

                <h3>6. Sécurité et intégrité des informations.</h3>
                <p>Sous réserve des éléments indiqués dans la Politique de Confidentialité, nous mettons en œuvre les mesures raisonnables et disponibles permettant de préserver la sécurité et l’intégrité de nos échanges avec vous. <br>
                <strong>Sous réserve des éléments indiqués dans la Politique de Confidentialité, nous mettons en œuvre les mesures raisonnables et disponibles permettant de préserver la sécurité et l'intégrité de nos échanges avec vous. <br>
                D'une part, votre identification certaine est assurée par la sécurité de Votre Compte conformément à l'article 4). Et d'autre part, nous préservons l'intégrité du stockage, transport et de l'accès aux échanges électroniques échangés avec vous en utilisant les infrastructures de stockage de la société OVH dont le siège social est sis 2 rue Kellerman 59100 ROUBAIX. <br>
                Les meilleures technologies de cryptage disponibles sont par ailleurs utilisés sur Le Site telle que "Secure Socket Layer" (SSL). Notez que, bien qu'aucun service ne soit inviolable, le prestataire OVH possède des années d'expérience dans la gestion et la sécurité de centres de données à grande échelle. De plus amples informations sur la sécurité d'OVH sont disponibles à https://www.ovh.com/fr/apropos/securite.xml.</strong></p>

                <h3>7. Votre licence d’utilisation des Services.</h3>
                <p>Aux fins d’utilisation des Services, vous disposez d’une licence non-exclusive, non-transférable, librement révocable pour utiliser les Services exclusivement pour votre usage personnel. MEDIA RESA peut révoquer cette licence à tout moment avec ou sans motif. Par conséquent sont interdits sous peine de poursuites judiciaires aux fins d’indemnisation, tout désassemblage, décompilation, décryptage, extraction, réutilisation, copies et plus généralement, les actes de reproduction, représentation, diffusion et utilisation de l’un quelconque de ces éléments en tout ou partie, sans autorisation expresse de MEDIA RESA.</p>

                <h3>8. Utilisation Personnelle et non commerciale des Services.</h3>
                <p>En toutes circonstances vous acceptez de NE PAS vous engager directement ou indirectement dans l'une de ces activités prohibées : </p>
                <ul>
                    <li>la copie, la distribution ou la divulgation de tout ou partie des Services sur tout support, incluant sans limitation tout type de "scraping" automatisé ou non ; </li>
                    <li>tous comportements de nature à interrompre, suspendre, ralentir ou empêcher la continuité des Services ; </li>
                    <li>tous comportements ou action de nature à imposer une charge disproportionnée sur les infrastructures des Services;
                    <li>l'utilisation de tout système automatisé d’accès aux Services permettant l’envoi d’une quantité de requêtes aux serveurs de MEDIA RESA supérieure à ce qu'un humain peut produire dans la même période (sous réserve des autorisations révocables accordées aux opérateurs des moteurs de recherche publics pour la création d'index publics aux fins de recherche en ligne mais sans mise en cache ou sans archivage des données) ; </li>
                    <li>la transmission de spam, de chaînes de courrier ou de tout autre email non sollicité ; </li>
                    <li>l’intrusion ou la tentative d’intrusion, la compromission de l'intégrité ou de la sécurité des systèmes sur lesquels sont mis en œuvre les Services, notamment le chargement de données invalides, de virus, de vers ou de tout autre logiciel malveillant ; </li>
                    <li>la collecte ou la récupération de toute information personnelle identifiable issue des Services ; </li>
                    <li>l'utilisation des Services à des fins de sollicitation commerciale ou en violation avec l'objet initial des Services ; </li>
                    <li>la copie, la modification, la traduction, la reproduction, l'extraction de contenus de toute nature transmis dans le cadre des Services, leur modification ou leur détournement ; </li>
                    <li>l'accès à tout contenu sur les Services via toute technologie ou tout moyen autre que ceux fournis ou autorisés par les Services; ou</li>
                    <li>outrepasser les mesures de sécurité mises en œuvre afin d'empêcher ou de restreindre l'accès aux Services, incluant sans limitation les fonctionnalités qui empêchent ou restreignent l'utilisation ou la copie de tout contenu.</li>
                  </ul>
                <p>En cas de violation de ces Termes par vos soins, vous garantissez MEDIA RESA contre toutes les plaintes, réclamations, actions et/ou revendications quelconques encourues par MEDIA RESA. Vous vous engagez à indemniser MEDIA RESA de tout préjudice subit et à payer tous les frais, charges et/ou condamnations supportées de ce fait par MEDIA RESA.</p>

                <h3>9. Propriété intellectuelle de MEDIA RESA. </h3>
                <p>À l'exception de Vos Informations Utilisateur, les systèmes, logiciels, structures, infrastructures, bases de données et contenus de toute nature (documents, images, texte, graphiques, illustrations, logos, brevets, marques, photographies, audio, vidéo, musique, etc.) et tous les droits de propriété intellectuelle qui s'y rapportent, sont la propriété exclusive de MEDIA RESA et de ses licenciés conformément aux lois applicables.</p>

                <h3>10. Tiers Prestataires.</h3>
                <p>Nous pourrions vous connecter à, inclure ou vous offrir des produits ou des services de Tiers Prestataires de confiance indispensables, voire complémentaires, pour le fonctionnement de notre Site et l’exécution de nos Services. MEDIA RESA pourra confier l’exécution de tout ou partie de sa prestation à des Tiers Prestataires. Si vous refusez d’accepter le recours à ces Tiers Prestataires obligatoires, vous ne pourrez pas accéder à nos Services et en particulier à notre Site. </p>

                <h3>11. Modifications des Services.</h3>
                <p>MEDIA RESA décide de la nature des Services proposés et reste libre d’en ajouter ou supprimer à sa libre discrétion. Vous ne pouvez à aucun moment prétendre à une exhaustivité, maintien ou remplacement des Services ni aucun dédommagement dans l’une quelconque de ces hypothèses. <br>
                Sous réserve des dispositions légales applicables, MEDIA RESA est libre de supprimer, modifier, déplacer ou transférer à tout moment et à sa libre discrétion, avec ou sans notification, toutes les données du Site, l'historique et Vos Informations Utilisateur stockés par MEDIA RESA vers un Tiers Prestataire de son choix. Ces opérations ne peuvent pas engager la responsabilité de MEDIA RESA envers vous et ne peut donner lieu à dédommagement. </p>
            </div>
        </section>
         <section class="legals-part">
            <div class="container legals-container">
                <h2 class="h3 legals-section-title">Conditions générales de vente </h2>
                <p>12. MEDIA RESA est une plateforme d’intermédiation entre Régie(s) Publicitaire(s) et acheteur(s) et n’est pas partie aux transactions conclues entre l'Acheteur et le Vendeur Media suite à l’acceptation de la commande recue via la plateforme d'MEDIA RESA SAS, les conditions contractuelles de ce contrat sont donc inopposables à cette dernière. <br>
                La plateforme MEDIA RESA fournit une prestation de service permettant de mettre en relation un « média » et un « annonceur » sur une plateforme Internet.</p>

                <h3>13. Comment ça marche pour les Annonceurs ?</h3>
                <p>A clarifier – deux types d’offres (support technique et simples services), génère des responsabilités différentes et donc prévoir une distinction dans les Termes. <br>
                Conditions générales Vs Conditions particulières</p>
                <ul>
                    <li>les Régies proposent la mise à disposition d'un espace publicitaire en offre de Bouclage à des Annonceurs selon les différents formats de vente proposés par MEDIA RESA (prix fixe, enchères, faire une offre qui ne peut être inférieure au seuil minimum déterminé par la Régie pour chaque Vente);</li>
                     <li>les Annonceurs sont informés des différentes Offres et vérifient critères des Offres et leur comptabilité avec la ligne éditoriale de la Régie;</li>
                     <li>L’Annonceur renseigne ses  informations utiles (briefs, fichiers, textes, photos etc) permettant la réalisation de son annonce publicitaire;</li>
                     <li>l’Annonceur qui réserve une annonce paie l’acompte de réservation à MediaResa;</li>
                </ul>

                <p>Sur option payante, MediaResa propose un support technique permettant de réaliser un fichier aux normes du cahier des charges du support de la Régie. </p>

                <ul>
                    <li>La Régie valide la commande et la faisabilité technique</li>
                    <li>Le contrat est conclu entre la Régie et l’Annonceur </li>
                    <li>C’est publié ! </li>
                </ul>

                <h3>13BIS. Les obligations de l’acheteur </h3>
                <p>L'engagement de l'Acheteur est ferme et définitif. <br>
                    L'Acheteur reconnaît en outre que son acceptation de l'offre est faite en considération de la description de l'espace publicitaire mis à la vente par le vendeur. <br>
                    L'Acheteur reconnaît accepter les conditions de vente du vendeur présentes dans l'annonce.<br>
                    MEDIA RESA notifie au vendeur l'offre d'achat de l'acheteur. A défaut de réception de l'accord du vendeur en cliquant sur l'onglet « VALIDER LA PROPOSITION », la vente sera réputée non formée et l'offre d'achat caduque au terme d'un délai de 72 heures, courant à partir de l'envoi du mail par MEDIA RESA au vendeur.<br>
                    Le prix fixé par le vendeur dans l'annonce contient l'assiette de rémunération d'MEDIA RESA, quelque soit les conditions ultérieures et spécifiques de vente et de paiement de l'espace publicitaire fixées entre l'acheteur et le vendeur. Lors de la mise en ligne par le vendeur, le prix indiqué est le prix global comprenant la commission d'MEDIA RESA.<br>
                    Les clients reçoivent respectivement un mail de confirmation de la part d'MEDIA RESA, les informant que la transaction a bien été conclue. Ce mail comporte les références de l'annonce, la date de formation de la vente, le descriptif de l'annonce et les coordonnées des clients renseignées lors de l'inscription. Une facture est adressée au vendeur.<br>
                    MEDIA RESA ne garantit pas et ne pourra jamais être tenue pour responsable de l'échec ou de la conclusion effective des contrats sollicités par les Clients. Le vendeur s'engage à rémunérer MEDIA RESA dans les conditions prévues au 5.1 et 5.2 quelque soit l'issue finale de la vente.<br>
                    En cas de litige sur l'exécution du contrat formé sur la plateforme MEDIA RESA, le vendeur et l'acheteur gardent pleine et entière disposition de leur droit de poursuite en exécution forcée de la vente, l'un à l'égard de l'autre, sans que MEDIA RESA ne puisse être appelé en la cause ni même être inquiété et voir sa responsabilité recherchée, pour quelque raison et par quelque moyen que ce soit.
                    En outre, MEDIA RESA ne garantit pas non plus que les annonces déposées par les « médias » existent réellement au moment où elles sont émises sur le site.<br>
                    Il appartient au média de retirer son annonce dès lors que celle-ci serait caduque pour quelque raison que ce soit. Aucune réclamation ne sera recevable envers MEDIA RESA  pour une annonce mensongère ou frauduleuse.</p>

                <h3>14. Commande de Services.</h3>
                <p>Les offres de Services proposées sont valables, à défaut d’indication de durée particulière, tant que les offres sont disponibles. Pour commander un Service, vous devez (i) créer Votre Compte dans les conditions de l’article 5, (ii) accepter les Termes (iii) effectuer le paiement dans les conditions de l’article 23 Toute commande constitue un accord express de votre part au commencement de l’exécution des Services par MEDIA RESA.</p>

                <h3>15. Livraison des Services.</h3>
                <p>Toute commande de Services effectuée dans les conditions de l’article 14 sera traitée via les adresses mail : studiographique@mediaresa.fr et traffic@mediaresa.fr</p>

                <h3>16. Nos Tiers Prestataires.</h3>
                <p>Pour réaliser les Services MEDIA RESA utilise les services de Zesting SAS. Vous reconnaissez que dans ces circonstances, MEDIA RESA déclinera toute responsabilité sur les réalisations, modifications ou toutes informations relatives aux services graphiques correspondant aux travaux commandés sur la plateforme MEDIA RESA.  </p>

                <h3>17. Les obligations des Vendeurs.</h3>
                <p>La création d'un compte gratuit acheteur donne le droit de consulter les annonces déposées sur le site par les vendeurs, sans limitation de nombre ni de duréé. Le vendeur s'engage à ce que toute annonce d’espace publicitaire disponible sur le Site corresponde à un bien dont il dispose en pleine et entière propriété et capacité de vente.</p>
                <p>Le Vendeur s'engage à décrire l'annonce d’espace publicitaire disponible selon d'une part les critères déterminés par MEDIA RESA, puis d'autre part lors de la confirmation de la commande, en informant de bonne foi l'Acheteur d’éventuelles conditions spécifiques complémentaires. Le Vendeur est seul responsable de son obligation d'information sur les caractéristiques essentielles de l'espace publicitaire mis en ligne. Il s'engage à ne pas induire l'Acheteur en erreur.</p>
                <p>Tout contenu mis à disposition sur le site devra se rattacher exclusivement à l'objet du Site soit la mise en relation d'annonceur et de médias concernant la vente d'espace publicitaire.</p>
                <p>MEDIA RESA SAS se garde le droit de supprimer à tout moment les annonces qui ne respecteraient pas les bonnes mœurs ou la moralité publique, bien que le non exercice de ce droit ne puisse lui être reproché ni même ne puisse fonder une quelconque action en responsabilité.</p>
                <p>En cas de non-respect de cet engagement, le vendeur sera tenu aux dommages et intérêts. Il est précisé que le vendeur devra payer autant de fois la pénalité que le nombre de violations éventuellement constatées.</p>
                <p>L'acheteur est seul responsable des contenus proposés à la diffusion par lui. MEDIA RESA  ne saurait en aucune manière être responsable de la légalité des contenus dont la vente aurait été réalisée sur la plate forme du site.</p>

                <h3>18. Vos obligations.</h3>
                <p>Vous reconnaissez que toutes les Informations Utilisateur que vous nous transmettez pour l’exécution des Services sont complètes, authentiques, exactes et conformes à la loi. Ainsi, vous affirmez et garantissez (i) être entièrement responsable de Vos Informations Utilisateur et des conséquences de leur partage avec MEDIA RESA, nos Tiers Prestataires, (ii) que MEDIA RESA ne procure ni ne garantit, et expressément décline, toute valeur financière à Vos Informations Utilisateurs.</p>

                <h3>19. Licence d’utilisation de Vos Informations Utilisateur.</h3>
                <p>Bien entendu vous restez propriétaire de vos Informations Utilisateurs, mais pour nous permettre de réaliser nos Services, vous nous accordez expressément, et vous garantissez que vous avez le pouvoir de nous accorder, une licence libre, transférable, irrévocable, non-exclusive et mondiale pour utiliser, reproduire, modifier, publier, éditer, traduire, distribuer, afficher publiquement Vos Informations Utilisateur en tout ou partie, et sous toute forme, par tout moyen ou technologie, connue aujourd'hui ou développée à l'avenir.</p>
                <p>Cette licence expire dans un délai raisonnable après la suppression par vos soins de Vos Informations Utilisateur. Toutefois, vous nous autorisez à conserver et à utiliser Vos Informations Utilisateur pour nous permettre de satisfaire à nos obligations légales, résoudre des contentieux, appliquer nos accords ou exécuter nos Services notamment si Vos Informations Utilisateur sont communes avec celles d’autres utilisateurs. Nous ferons de notre mieux pour supprimer Vos Informations Utilisateur rapidement sur demande, toutefois, sachez que des versions de sauvegarde peuvent demeurer même après leur suppression des serveurs concernés.</p>

                <h3>20. OBLIGATIONS DE MEDIA RESA.</h3>
                <p>MEDIA RESA s'engage à mettre à la disposition des Utilisateurs les offres de vente d’espaces publicitaires des Vendeurs Media. En tant que simple plateforme de mise en relation, MEDIA RESA n'est pas le revendeur des espaces publicitaires proposes sur le Site. Dès lors, MEDIA RESA ne garantit pas que l'espace vendu par le Vendeur Média satisfera l'Acheteur.</p>
                <p>Toutefois, une fois qu’une commande a été « validée » par un Vendeur Media, MEDIA RESA s'engage à retirer l'annonce correspondante de la plate-forme.</p>
                <p>MEDIA RESA et les Tiers Prestataires s’engagent à fournir les Services avec sérieux et diligence. Vous reconnaissez et acceptez que tous les Services sont fournis selon une obligation de moyens à l’exclusion de toute obligation de résultat. </p>

                <h3>21. EXCLUSIONS DE RESPONSABILITÉ DE MEDIA RESA.</h3>
                <p>MEDIA RESA, simple service de mise en relation n’engage pas la responsabilité de Media Resa, sur le contenu et la validité des annonces. Notamment sur l’exactitude des informations renseignées lors du dépôt d’annonce par le Vendeur et de sa disponibilité lors de l’achat. </p>
                <p>L'utilisation des Services s’effectue à vos risques et Vous reconnaissez être en accord avec les termes indiqués dans les présentes Conditions Générales de Vente après accord.</p>
                <p>Sauf disposition légale contraire, MEDIA RESA exclut toute responsabilité et garantie, de quelque manière et sur quelque fondement que ce soit pour :</p>
                <p>(i) toute erreur, faute, omission ou inexactitude dans Vos Informations Utilisateurs ;  <br>
                (ii) tout dommage à votre propriété, de quelque nature que ce soit, résultant de votre accès à ou de l’utilisation de nos Services <br>
                (iii) tout accès à ou toute utilisation non-autorisés de nos serveurs sécurisés et/ou à toute ou partie des informations qui y sont stockées <br>
                (iv) toute interruption ou cessation de transmission vers ou issue des Services <br>
                (v) tout bug, virus, hacking, sabotage, cheval de troie ou tout ce qui s’y apparente qui pourrait être transmis vers ou via nos Services par toute tierce partie <br>
                (vi) toute perte ou tout dommage survenu à la suite de l’utilisation de tout contenu posté, envoyé par email transmis ou rendu publiquement disponible via les Services et/ou <br>
                (vii) toute divulgation des informations qui peuvent être considérées comme confidentielles par vous ou un tiers <br>
                (viii) l’utilisation des produits ou services proposés ou offerts par un tiers à travers les Services ou tout lien hypertexte accessible depuis le Site pour lequel MEDIA RESA ne sera pas partie ni ne contrôlera  les transactions entre vous et ce tiers.   </p>

                <p>DE CONVENTION EXPRESSE, EN CAS DE PLAINTE, PROCEDURE, RESPONSABILITE JURIDIQUE, OBLIGATION, PERTE OU COUT, MEDIA RESA, SES AFFILIES, AGENTS, DIRIGEANTS, EMPLOYES, TIERS PRESTATAIRES OU LICENCIES NE SERONT REDEVABLES ENVERS VOUS QU’A UN MONTANT MAXIMUM EGAL AU MONTANT DES SERVICES D’ORES ET DEJA PAYES A MEDIA RESA.  </p>

                <p>En tout état de cause, MEDIA RESA ne sera en aucun cas responsable de tout préjudice indirect ou immatériel, quel qu'il soit, subi éventuellement par le Client, et notamment de tout préjudice financier ou commercial, perte de bénéfices ou perte de données.</p>

                <p>Sous réserve des dispositions impératives applicables, ces limitations  et exclusions de responsabilités s’appliqueront dans le cadre d’une relation contractuelle,  une négligence ou toute autre base et même si MEDIA RESA avait ou a, connaissance de la possibilité du préjudice ou dommage invoqué.  </p>

                <h3>22. Prix et facturation.</h3>
                <p>Si vous utilisez les Services, vous acceptez les conditions de ventes, de prix et les conditions indiquées lors du paiement.</p>
                <p>Vous acceptez de payer lors de la commande tous les frais, taxes, coûts dus conformément aux prix indiqués sur le Site.</p>

                <p>MediaResa se rémunère au pourcentage de chaque vente effectuée sur la plateforme. Le prix payé à MediaResa et indiqué sur le site lors de la réservation correspond à un acompte du prix total à payer à la Régie pour l’annonce publicitaire. </p>
                <p>La répartition du taux de commission de Media Resa est la suivante : (Hors frais techniques)</p>
                <ul>
                    <li>Presse : 20%</li>
                    <li>Affichage : 5%</li>
                </ul>
                <p>Commission révisable en fonction d'une volumétrie importante. Merci de nous contacter.</p>

                <p>Tout Service commandé est dû en entier dès qu'il est confirmé par la Régie. Tous les prix sont indiqués en Euros Toutes taxes comprises et les paiements s’effectuent en ligne avec une carte de crédit (VISA, Carte Bleue, Eurocard/Mastercard). MEDIA RESA met en œuvre des services de paiement sécurisés et cryptés fournis par un Tiers Prestataire (Stripe, Inc).</p>
                <p>Enfin, vous acceptez expressément de recevoir des factures électroniques.</p>
                <p>A tout moment et à sa seule discrétion, MEDIA RESA peut ajouter de nouveaux services pour un coût et des frais supplémentaires, ou modifier pour l’avenir les coûts et les frais pour les services existants, sans donner droit à aucun remboursement ou compensation.</p>

                <h3>23. Rétractation, annulation et politique de remboursement.</h3>
                <p>Vous, n’étant pas un consommateur, ne disposez pas du droit de rétractation prévu aux articles L. 121-21 et suivants du Code de la consommation.  </p>

                <p>Toutefois, Vous pouvez annuler un service souscrit en nous adressant un email à admin@mediaresa.fr. En cas d’annulation des Services payés, vous restez redevables de toutes les taxes et coûts et conséquences juridiques et financières dûs suite à cette annulation.  </p>

                <p>Définition à revoir. Proposé par le vendeur dans son annonce sur la plateforme MEDIA RESA. Le prix fixé dans l'annonce contient l'assiette de rémunération MEDIA RESA, nonobstant toute disposition ultérieure spécifique propre à l'acheteur et au vendeur. Le prix fixé par le vendeur dans son annonce tient compte de la commission perçue par MEDIA RESA. </p>

                <p>De surcroît, aucun remboursement ne sera accordé dans les conditions suivantes : </p>
                <ul>
                    <li>dès lors que MEDIA RESA aura instruit un Tiers Prestataire pour l’exécution de vos/votre Service(s) commandés et ;</li>
                    <li>en cas de retard ou de refus de communiquer à MEDIA RESA, ses affiliés ou Tiers Prestataires, Vos Informations Utilisateurs nécessaires pour l’exécution des Services ; et   </li>
                    <li>en cas de retard ou impossibilité d’exécuter les Services en cas de force majeure ou toute circonstance extérieure à MEDIA RESA ;  </li>
                    <li>en cas de violation de l’une quelconque des dispositions des Termes.
                </ul>

                <h3>24. Langue.</h3>
                <p>Le Site et son contenu sont fournis en français et dans toute autre langue au choix de MEDIA RESA dans une traduction libre et informative. MEDIA RESA ne garantit pas les traductions et leur conformité avec le droit applicable dans un autre pays que celui de destination des Services commandés.  </p>

                <h3>25. Notifications.</h3>
                <p>MEDIA RESA peut vous envoyer des notifications pour l’exercice de vos Services, pour des raisons légales, marketing ou pour tout autre objet. Les notifications pourront être faites par SMS, email, courrier papier, ou par affichage sur le Site. Nous vous recommandons d'ajouter les adresses emails contact@mediaresa.fr à votre liste d'adresses approuvées. MEDIA RESA décline expressément toute responsabilité au cas où vous auriez mis en place un filtrage automatique des notifications par email.   </p>

                <h3>26. Accord complet.</h3>
                <p>Ces Termes et tout amendement ou accord supplémentaire que vous pourriez conclure avec MEDIA RESA, constitueront l’accord complet entre vous et MEDIA RESA. La nullité d’une des clauses de ces Termes n’entraîne pas la nullité des autres clauses des présents Termes. Aucune renonciation à une clause de ces Termes ne sera considérée comme une renonciation future ou permanente à cette clause ou à toute autre clause, et l’échec de MEDIA RESA à faire valoir tout droit ou toute disposition en vertu de ces Termes ne constituera pas une renonciation à ce droit ou à cette disposition. </p>

                <h3>27. Confidentialité.</h3>
                <p>MEDIA RESA s’efforcera de conserver la confidentialité de Vos Documents et de Vos Informations Utilisateurs dans les conditions visées ci-dessous par la Politique de confidentialité (C.). </p>

                <h3>28. Loi applicable et règlement amiable des litiges.</h3>
                <p>Les dispositions des Termes sont soumises à la loi française. En cas de litige, vous acceptez de résoudre le contentieux par des voies amiables. Si aucune résolution n’est possible, le litige sera porté exclusivement devant les Tribunaux de Paris, sauf disposition légale contraire.</p>

                <h3>29. Droit de publicité.</h3>
                <p>Le Prestataire se réserve le droit de citer des extraits textuels ou iconographiques des œuvres concernées dans le strict cadre de ses démarches de prospection commerciale, de communication externe et de publicité. Toute réserve au droit de publicité du Prestataire devra être notifiée et négociée avant la signature du devis et mentionnée sur la facture. </p>

            </div>
        </section>
        <section class="legals-part">
            <div class="container legals-container">
                <h2 class="h3 legals-section-title">POLITIQUE DE CONFIDENTIALITE ET COOKIES </h2>
                <p>Pour vous offrir la meilleure expérience sur nos Site et pour nos Services, vous êtes à amenés à  nous communiquer certaines informations vous concernant (directement ou indirectement),  toutefois, vous êtes soucieux de la façon dont nous recueillons, utilisons et divulguons ces informations. C’est pourquoi nous décrivons ci-dessous les traitements que nous opérons pour vos données personnelles et en particulier les cookies utilisés pour permettre de mieux comprendre vos besoins lorsque vous nous rendez visite. </p>

                <h3>30. Les Informations Personnelles vous concernant.</h3>
                <p>Les Informations Personnelles collectées vous concernant sont celles que vous fournissez directement lors de l'utilisation de nos Services ou lors de votre navigation sur le Site. Par exemple, nous recueillons toutes les informations permettant de vous identifier (nom, numéro de téléphone, adresse email, adresses, etc.) et les informations concernant les transactions que vous effectuez en utilisant nos Services. Pour certains services commandés, nous collectons également les informations concernant vos proches sous réserve que vous fassiez votre affaire de leur consentement. ("Informations Personnelles").</p>

                <h3>31. Les Informations Personnelles concernant votre utilisation du Site (cookies et balises).</h3>
                <p>Les cookies et les balises de site web sont des petits fichiers qui nous permettent d’enregistrer et de mémoriser certaines de vos Informations Personnelles afin de faciliter votre navigation sur le Site. </p>

                <h3>32. Utilisation des Informations Personnelles recueillies.</h3>
                <p>Nous utilisons vos Informations Personnelles pour : (i) exécuter les Services, (ii) améliorer nos Services comme par exemple nos fonctionnalités et notre contenu, (iii) vous permettre de profiter et de naviguer avec aisance sur notre Site, (iv) personnaliser votre expérience lors de vos visites à partir des informations obtenues sur vos intérêts ou votre navigation, (v) fournir ou offrir des informations utiles et notifications de mise à jour logicielles ou de service, (vi) vous faire bénéficier de nos lettres d'information, blog, documents marketing ou promotionnels et toutes autres informations sur les Services et les produits que nous proposons ou proposés par des Tiers Prestataires, et (vii) vérifier que nos Services correspondent à vos besoins.</p>

                <p>Ces informations peuvent être partagées de façon anonyme avec des tiers afin de nous aider à mieux comprendre vos attentes et vos comportements lors de votre navigation sur notre Site, comme par exemple l’analyse de notre visibilité, de notre trafic. Vous pouvez à tout moment configurer votre logiciel afin qu'il refuse les cookies, attention toutefois car cela pourrait empêcher l’accès à certaines fonctionnalités de notre Site ou Services.</p>

                <p>Les Tiers avec lesquels nous partageons les informations collectées à partir des cookies placés sur le Site sont Google Analytics pour mesurer l’utilisation du Site grâce à des informations sur les pages que vous visitez, le temps passé sur ces pages, les liens utilisés pour nous trouver, là où vous cliquez sur nos pages. Toutes ces informations sont anonymes et Google Analytics ne peut pas utiliser ou partager ces informations. Vous pouvez refuser les cookies Google Analytics sur ce lien https://tools.google.com/dlpage/gaoptout  (LIEN). Et pour supprimer tous les cookies installés par votre navigateur, il vous suffit de cliquez sur ces liens selon votre navigateur :<p>
                <ul>
                    <li>Firefox : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" target="_blank">https://support.mozilla.org/fr/kb/activer-desactiver-cookies </a></li>
                    <li>Chrome : <a href="https://support.google.com/chrome/answer/95647?hl=fr" target="_blank">https://support.google.com/chrome/answer/95647?hl=fr</a> </li>
                    <li>Explorer : <a href="http://windows.microsoft.com/fr-FR/internet-explorer/delete-manage-cookies#ie=ie-11" target="_blank">http://windows.microsoft.com/fr-FR/internet-explorer/delete-manage-cookies#ie=ie-11</a></a></li>
                    <li>Safari : <a href="https://support.apple.com/kb/PH19214?viewlocale=fr_FR&locale=fr_FRs" target="_blank">https://support.apple.com/kb/PH19214?viewlocale=fr_FR&locale=fr_FR</a> </li>
                </ul>


                <h3>33. Sécurité de vos Informations Personnelles.</h3>
                <p>Voir les dispositions décrites à l’article 32 ci-dessus. Notez toutefois que si vos Informations Personnelles sont soumises à des obligations de sécurité spécifiques, nous ne pouvons pas garantir le maintient de ce niveau spécifique adéquat de protection.</p>

                <h3>34. Les Tiers Prestataires.</h3>
                <p>Si lors de l’exécution de nos Services, nous avons recours aux services d’un Tiers Prestataires, vous comprenez et consentez au partage de vos Informations Personnelles avec ce Tiers. Toutefois, votre utilisation des Services avec ce/ces Tiers Prestataires n'est pas soumise à notre politique de confidentialité. Bien qu’ils soient de professionnels choisis et sérieux, nous n'avons aucun contrôle sur la façon dont ils traitent les Informations Personnelles. Par ailleurs, les Tiers Prestataires qui collectent directement des Informations Personnelles (comme par ex. Stripe Inc. pour vos informations de paiement) ne partagent pas avec nous les Informations Personnelles qu’ils collectent. Il vous appartient de consulter la politique de confidentialité de ces Tiers Prestataires afin de connaître leurs pratiques avant d’utiliser les Services.</p>

                <h3>35. Autres tiers.</h3>
                <p>En dehors des tiers décrits dans notre Politique de Confidentialité, et sauf à obtenir votre consentement préalable, nous ne vendons pas, nous ne transférons pas ni ne partageons de quelque manière que ce soit vos Informations Personnelles avec des tiers non identifiés. Par ailleurs, nous pouvons être contraint de partager vos Informations Personnelles avec des tiers autorisés si ce partage est requis par la loi ou pour appliquer nos Termes, ou pour protéger légitimement nos droits ou ceux de tiers.</p>

                <h3>36. Cession, vente, fusion.</h3>
                <p>En outre, dans le cadre d'une transaction d'entreprise telle qu'une fusion, une acquisition, une restructuration ou la vente d'actifs, nous pourrions vendre, transférer ou partager de quelque manière que ce soit une partie ou la totalité de vos données dont notamment vos Informations Personnelles. Dans ce cas, vous recevrez une notification si vos Informations Personnelles deviennent assujetties à une politique de confidentialité significativement différente de la nôtre. </p>

                <h3>37. Durée de conservation, consultation ou modification de vos Informations Personnelles.</h3>
                <p>Toutes vos Informations Personnelles sont conservées de manière sécurisée sur nos serveurs et/ou auprès de nos Tiers Prestataires selon la nature de vos informations, pour la durée légale de conservation de ces Informations. Vous pouvez consulter, supprimer ou modifier vos informations personnelles en vous connectant à votre compte sur www.mediaresa.fr ou en adressant un email à admin@mediaresa.fr</p>

                <h3>38. Désabonnement.</h3>
                <p>Vous recevrez régulièrement des messages, alertes ou notifications concernant les Services commandés sur notre Site à propos de votre Compte ou de nos Services de même que les mises à jour de notre Site et de nos Services. Pour une bonne expérience de nos Services, vous ne pouvez pas vous désabonner de ces communications. </p>
                <p>Toutefois, vous pouvez vous désabonner pour tous les autres types de communications comme les informations promotionnelles en suivant les instructions de désabonnement fournies dans ces emails ou par email à admin@mediaresa.fr </p>


                <h3>39. Conditions d'utilisation.</h3>
                <p>Cette politique de confidentialité s'applique selon les mêmes conditions que les conditions d'utilisation établissant l'utilisation, les clauses de non-responsabilité et les limitations de responsabilité gouvernant l'Utilisation de nos Services (A ci-dessus).</p>

                <h3>40. Pour nous contacter.</h3>
                <p>N’hésitez pas, une seule adresse : <a href="mailto:{{ public_env('MAIL_PUBLIC') }}">contact@mediaresa.fr</a></p>

                <p>Cette politique de confidentialité est conforme aux dispositions de la norme simplifiée de la CNIL  N°&nbsp;1906199 dont une déclaration a été enregistrée le 23 novembre 2015.</p>
    </main>
{% endblock %}
