{% extends 'main.layout.layout' %}
{% set title = 'CGV' %}
{% set context='cgv' %}
{% block content %}
    <main class="legals-page">
        <h1 class="h2 legals-title">Conditions générales du Studio Graphique</h1>
        <section class="legals-part">
            <div class="container legals-container">
                <h2 class="h3">Parties au contrat</h2>
                <p>Le terme « Client » désigne toute personne morale ou physique, ayant requis les compétences de la SAS Media Resa pour toutes interventions liées à : modification, adaptation et création de support graphique dédié relatif à l’achat  ou la réservation de tous espaces publicitaires réservés sur la plateforme Media Resa. Le terme “Prestataire” désigne SAS Media Resa. <br>
                Le terme « support » désigne tout élément, ou canal de communication, servant de support au message publicitaire.</p>
                <h2 class="h3">Généralités</h2>
                <p>Le Client faisant appel aux services du Prestataire reconnaît avoir pris connaissance et accepté les présentes conditions générales de vente. La validation de la commande est subordonnée au respect des présentes Conditions générales de vente. Les présentes conditions générales de vente ont pour objet de définir les droits et obligations des parties lors de la vente de produits réalisée par le Prestataire pour son Client dans le cadre de son activité commerciale. Le Prestataire se réserve le droit de modifier ses conditions générales de vente, ses formules et ses tarifs à tout moment et sans préavis. </p>
                <h2 class="h3">Comment ça marche ?</h2>
                <p>Le Client valide l’intervention du Prestataire après avoir acté ou validé la commande d’un espace publicitaire en amont sur la plateforme Media Resa.</p>
                <p>Le Client devra définir ses besoins d’assistance technique en identifiant ses capacités à fournir les éléments techniques indispensables à la bonne réalisation de la commande (à titre illustratif, ou d’exemple : logo, pictogramme, coordonnées, ...).</p>
                <ol>
                    <li>Le Client devra choisir un des trois forfaits proposés par le Prestataire correspondant à ses besoins. Le Client s’engage, à partir de sa sélection, à fournir au travers de la plateforme Media Resa, tous les éléments indispensables et nécessaires à la réalisation de la commande (se reporter à la page de téléchargement pour connaître les formats de fichier requis).</li>
                    <li>Le Prestataire valide la qualité des éléments transmis.</li>
                    <li>Le Client procède au règlement sur la plateforme Media Resa correspondant à l’acompte de réservation de l’espace publicitaire et de l’intégralité des frais techniques par carte bancaire ou virement bancaire.</li>
                    <li>Le Prestataire réalise la commande.</li>
                    <li>Le Client s’engage à se rendre disponible pour tout échange ou correction en cours de réalisation de la prestation.</li>
                    <li>Le Client valide la Prestation (bon à tirer).</li>
                    <li>Le Prestataire transmet les éléments techniques à la régie du support.</li>
                    <li>C'est publié.</li>
                    <li>Le Client solde la facture du support correspondant à la commande d’espace publicitaire en bouclage effectuée sur la plateforme Media Resa.</li>
                </ol>
                <h2 class="h3">Responsabilité du Client</h2>
                <p>Le Client déclare que les informations transmises au Prestataire sont complètes, authentiques, exactes, cohérentes avec la ligne éditoriale du support et le respect des législations en matière de secteurs réservés et conformes à la loi. Le Client s’engage à prévenir le Prestataire de tout changement concernant les données fournies et sera seul responsable des éventuels dysfonctionnements qui pourraient résulter d’informations erronées. Le Client doit maintenir une adresse postale et une adresse e-mail valides.</p>
                <p>Le Client s’engage à fournir tous les éléments techniques (à titre d’exemple : brief, logo, accroche, charte graphique,...) ainsi que toutes les informations utiles et nécessaires pour la réalisation et l’exécution du service fourni par le prestataire. </p>
                <p>Le Client s’engage à être disponible afin d’échanger, de valider tous travaux effectués par le Prestataire pour son compte, (correction, bon à tirer). Tout manquement ou tout retard du fait du Client ne pourra en aucun cas engager la responsabilité du Prestataire. Le cas échéant, le Prestataire se réserve le droit de percevoir tout ou partie du montant global de la prestation et de la réservation du ou des espaces publicitaires lié à la dite prestation.</p>
                <p>Le Client assume la pleine et entière responsabilité des choix réalisés en matière de contenus textuels et iconographiques figurant dans la réalisation livrée par le Prestataire, tout comme de l’exploitation qui en sera faite, et notamment de la conformité de cette dernière avec les réglementations en vigueur. Il assure également être propriétaire des droits nécessaires à l’exploitation de tous les éléments textuels et iconographiques fournis par le Client au Prestataire dans le cadre de sa mission, et garantit le Prestataire contre toute plainte des tiers relative à la violation des droits de ces éléments.</p>
                <p>Le Client s’engage à acquitter toutes factures liées à la réalisation de la prestation commandée avant parution. Le non respect des délais de règlement des factures entrainera l’annulation de la prestation commandée. Le cas échéant, le Prestataire et le ou les Supports se réservent le droit de percevoir l’intégralité des sommes exigibles.</p>
                <h2 class="h3">Obligations des parties</h2>
                <p>Le Client et le Prestataire s’engagent à collaborer activement afin d’assurer la bonne exécution du contrat. Chacun s’engage à communiquer toutes les difficultés dont il aurait connaissance au fur et à mesure dans l’avancement du projet, pour permettre à l’autre partie de prendre les mesures nécessaires. </p>
                <p>Le Prestataire s’engage à informer de manière régulière et efficace le Client de l’avancée de la réalisation du projet et ce, notamment, au travers de validations soumises au Client. Media Resa peut vous envoyer des notifications pour l’exercice de vos services. Nous vous recommandons d’ajouter les adresses emails technique@mediaresa.fr et contact@mediaresa.fr à votre liste d’adresses approuvées. MEDIA RESA décline expressément toute responsabilité au cas où vous auriez mis en place un filtrage automatique des notifications par email.</p>
                <p>Au titre de la confidentialité et pendant toute la durée des présentes et même après leur cessation pour quelque cause que ce soit, le Prestataire s’engage à conserver strictement confidentiel l’ensemble des informations et documents de quelque nature que ce soit relatifs au Client, auxquels il aurait pu avoir accès dans le cadre notamment de l’exécution de la présente mission.</p>
                <h2 class="h3">Frais annexes</h2>
                <p>Tout achat supplémentaire lié à l’aboutissement de la prestation (achat d’art, police de caractère, banque d’image,...) ne sont pas compris dans le prix initial et peuvent faire l’objet d’une majoration tarifaire. De même, tous les  travaux supplémentaires donnant lieu à un dépassement du temps alloué par le forfait retenu, fera l’objet d’une facturation supplémentaire et chaque heure entamée sera due. </p>
                <p>Le contenu textuel permettant la réalisation de l’œuvre devra être fourni par le Client. Toutes demandes supplémentaires entraînant la modification du cahier des charges initialement prévu lors de l’acceptation des présentes Conditions générales de vente feront l’objet d’une facturation supplémentaire correspondant à un taux horaire de quatre-vingt euros (80€) hors taxes.</p>

                <h2 class="h3">Début des travaux</h2>
                <p>Les présentes conditions générales de vente acceptées par le Client tiennent lieu de bon de commande.</p>
                <p>Les travaux débuteront lorsque tous les éléments graphiques, textuels et de brief nécessaires à la réalisation du contrat seront à la disposition du Prestataire. </p>

                <h2 class="h3">Livraison</h2>
                <p>Le délai de livraison sera fixé par le ou les supports. Il sera communiqué et renseigné au Client lors de la validation de sa sélection dans le contenu de l’annonce et ne pourra pas être modifié.</p>
                <p>Dans le cadre d’une commande réalisée par le Client auprès du support technique, le Prestataire aura à sa charge le respect du cahier des charges du support et la livraison dans les délais imposés des éléments techniques.</p>
                <p>De même, le délai de livraison est assujetti au respect de tous les engagements pris par le Client envers le Prestataire.</p>

                <h2 class="h3">Règlement et facture</h2>
                <p>Le paiement s’effectue via la plateforme fournie par le Prestataire par carte bancaire ou par virement bancaire.</p>
                <p>Tout acte non inclus dans le forfait retenu, donnant lieu à une majoration tarifaire, devra être réglé par carte bancaire ou par virement bancaire avant parution.</p>

                <h2 class="h3">Annulation de commande</h2>
                <p>En cas de rupture du contrat avant terme par le Client, celui-ci s’engage formellement à régulariser et rétribuer les montants exigibles relatifs à la commande.</p> 
                <p>L’ensemble des droits d’auteur reste la propriété exclusive et entière du Prestataire jusqu’au paiement total de la prestation, à l’exception des données fournies par le client. Les fichiers et données sources créés et utilisés par le Prestataire ne sauraient dès lors être revendiqués par le Client sans s’être acquitté de la totalité des sommes exigibles. Ces documents doivent être rendus non endommagés et à la demande du Client. </p>

                <h2 class="h3">Incapacité de travail</h2>
                <p>En cas d’incapacité de travail, par suite de maladie ou d’accident, le Prestataire se réserve le droit de modifier le calendrier en cours sans qu’il puisse être exigé par le Client le versement d’indemnités ou l’annulation de la commande. Il est admis que le Prestataire se doit d’avertir le Client dès le premier jour ouvrable de son incapacité.</p>

                <h2 class="h3">Propriété intellectuelle</h2>
                <p>La totalité de la production et des droits s’y rapportant, objet de la commande, demeure la propriété entière et exclusive du Prestataire tant que les factures émises ne sont pas payées en totalité par le Client, à concurrence du montant global de la commande et des avenants éventuels conclus en cours de prestation.</p>
                <p>De façon corollaire, le Client deviendra propriétaire de fait de la production et des droits cédés à compter du règlement final en soldant toutes les factures émises par le Prestataire dans le cadre de la commande. Sauf mention contraire, les fichiers de production et les fichiers sources restent la propriété du Prestataire. Seul le produit fini sera adressé au Client à sa demande. </p>

                <h2 class="h3">Principes de cession</h2>
                <p>La reproduction et la réédition des créations du Prestataire sont soumises à la perception de droits d’auteur selon les règles du Code de la propriété intellectuelle. </p>

                <h2 class="h3">Règlement des litiges</h2>
                <p>Le contrat est soumis au droit français. Toute contestation ou litige portant sur l’interprétation ou l’exécution du présent contrat sera portée, à défaut d’un accord amiable entre les parties, devant les juridictions les plus proches du siège social du Prestataire.</p>


        </section>
       
    </main>
{% endblock %}